* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 700;
}

html,
body {
  font-family: "Inter", sans-serif;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 60px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: 50;
}

@media (max-width: 992px) {
  .header {
    padding: 10px 0;
  }
}

.container {
  max-width: 1720px;
  margin: 0 auto;
  padding: 0 20px;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 300px;
          flex: 0 0 300px;
  margin-right: auto;
}

.header__logo img {
  max-width: 100%;
}

@media (max-width: 992px) {
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 180px;
            flex: 0 0 180px;
  }
}

@media (max-width: 460px) {
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
  }
}

@media (max-width: 460px) {
  .desktop-logo {
    display: none;
  }
}

.mobile-logo {
  display: none;
}

@media (max-width: 460px) {
  .mobile-logo {
    display: block;
  }
}

.header__phone {
  margin-right: 60px;
}

.header__phone a {
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: -0.05em;
  color: #0c193e;
  position: relative;
}

.header__phone a img {
  display: none;
}

.header__phone a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0%;
  background-color: #0c193e;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__phone a:hover:after {
  content: "";
  width: 100%;
}

@media (max-width: 992px) {
  .header__phone {
    margin-right: 20px;
  }
  .header__phone a {
    font-size: 20px;
  }
}

@media (max-width: 600px) {
  .header__phone {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
  }
  .header__phone a span {
    display: none;
  }
  .header__phone a img {
    display: block;
    max-width: 100%;
  }
}

.header__callback {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 260px;
          flex: 0 0 260px;
  height: 50px;
}

@media (max-width: 992px) {
  .header__callback {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 160px;
            flex: 0 0 160px;
  }
}

.header__button {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #35312e;
  height: 100%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border: 1px solid #35312e;
  cursor: pointer;
}

.header__button:hover {
  background: #fff;
  color: #0c193e;
  border: 1px solid #0c193e;
}

@media (max-width: 992px) {
  .header__button {
    font-size: 14px;
  }
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.mainscreen {
  padding: 200px 0 0 0;
  min-height: 960px;
  background: url("../img/mainscreen/dots.png") 0 0 no-repeat, #f2f5fa;
  position: relative;
}

@media (max-width: 992px) {
  .mainscreen {
    padding: 100px 0 0 0;
  }
}

.mainscreen__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .mainscreen__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.mainscreen__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-right: 20px;
}

@media (max-width: 992px) {
  .mainscreen__info {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 767px) {
  .mainscreen__info {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    margin-right: 0;
  }
}

.mainscreen__title {
  color: #2544c0;
  line-height: 70px;
  margin-bottom: 42px;
}

.mainscreen__title p:first-child {
  font-weight: 500;
  font-size: 48px;
  letter-spacing: -0.04em;
}

.mainscreen__title p:nth-child(2) {
  font-weight: 800;
  font-size: 56px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.mainscreen__title p:last-child {
  font-weight: 500;
  font-size: 48px;
  letter-spacing: -0.04em;
  color: #0c193e;
}

@media (max-width: 992px) {
  .mainscreen__title p:first-child, .mainscreen__title p:nth-child(2), .mainscreen__title p:last-child {
    font-size: 40px;
    line-height: normal;
  }
}

@media (max-width: 767px) {
  .mainscreen__title {
    margin-bottom: 30px;
  }
  .mainscreen__title p:first-child, .mainscreen__title p:nth-child(2), .mainscreen__title p:last-child {
    font-size: 30px;
  }
}

.mainscreen__list {
  max-width: 540px;
  margin-bottom: 50px;
  margin-left: 50px;
}

.mainscreen__list li {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
  color: #0c193e;
  position: relative;
  padding: 0 0 0 10px;
  margin: 0 0 30px 0px;
}

.mainscreen__list li:before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  border: 1px solid #2544c0;
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
}

@media (max-width: 767px) {
  .mainscreen__list {
    margin-left: 20px;
    max-width: 100%;
    margin-bottom: 30px;
  }
  .mainscreen__list li {
    margin: 0 0 15px 0px;
  }
}

@media (max-width: 600px) {
  .mainscreen__list {
    margin-left: 0;
  }
  .mainscreen__list li {
    font-size: 16px;
  }
}

.mainscreen__scrolldown {
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #b2bdd2;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 50px;
  margin-bottom: 50px;
  height: 40px;
}

.mainscreen__scrolldown img {
  max-width: 100%;
  margin-right: 10px;
  -webkit-animation: scrolldown 1s ease infinite alternate;
          animation: scrolldown 1s ease infinite alternate;
}

@-webkit-keyframes scrolldown {
  0% {
    -webkit-transform: translate(0, -20px);
            transform: translate(0, -20px);
  }
  100% {
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
  }
}

@keyframes scrolldown {
  0% {
    -webkit-transform: translate(0, -20px);
            transform: translate(0, -20px);
  }
  100% {
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
  }
}

@media (max-width: 767px) {
  .mainscreen__scrolldown {
    margin: 0 0 50px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 767px) {
  .mainscreen__consult {
    min-height: 400px;
  }
}

.mainscreen__image {
  max-width: 600px;
}

.mainscreen__image img {
  max-width: 100%;
}

@media (max-width: 767px) {
  .mainscreen__image {
    max-width: 450px;
  }
}

@media (max-width: 600px) {
  .mainscreen__image img {
    display: none;
  }
}

.mainscreen__form {
  position: absolute;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 60%;
}

@media (max-width: 1365px) {
  .mainscreen__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    right: 20px;
    width: 320px;
  }
}

@media (max-width: 767px) {
  .mainscreen__form {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .mainscreen__form {
    max-width: 87%;
    right: 50%;
    -webkit-transform: translate(50%, 0);
            transform: translate(50%, 0);
  }
}

.mainscreen__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  height: 140px;
  background-color: #fff;
  padding: 44px;
}

@media (max-width: 1365px) {
  .mainscreen__item {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 100%;
  }
}

.mainscreen__item-button {
  padding: 0;
}

.mainscreen__label {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.02em;
  color: #b2bdd2;
}

.mainscreen__input {
  font-size: 24px;
  width: 100%;
}

.mainscreen__input::-webkit-input-placeholder {
  font-weight: 200;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.02em;
  color: #2544c0;
}

.mainscreen__input:-ms-input-placeholder {
  font-weight: 200;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.02em;
  color: #2544c0;
}

.mainscreen__input::-ms-input-placeholder {
  font-weight: 200;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.02em;
  color: #2544c0;
}

.mainscreen__input::placeholder {
  font-weight: 200;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.02em;
  color: #2544c0;
}

.mainscreen__button {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: -0.02em;
  color: #ffffff;
  background: #2544c0;
  height: 100%;
  width: 100%;
}

.title {
  font-weight: 500;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -0.06em;
  color: #2544c0;
}

@media (max-width: 767px) {
  .title {
    font-size: 36px;
    line-height: 40px;
  }
}

@media (max-width: 360px) {
  .title {
    font-size: 26px;
    line-height: 30px;
  }
}

.partners {
  background: #fbfcfe;
}

.partners__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 200px;
  margin: 0 -12px;
  padding: 20px 0;
}

@media (max-width: 1365px) {
  .partners__body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.partners__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
  margin: 12px;
}

.partners__image img {
  max-width: 100%;
}

@media (max-width: 992px) {
  .partners__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 128px;
            flex: 0 1 128px;
  }
}

.broker__title {
  margin-bottom: 46px;
}

@media (max-width: 767px) {
  .broker__title {
    margin-bottom: 20px;
  }
}

.broker__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 80px 0 120px 0;
  color: #0c193e;
}

@media (max-width: 992px) {
  .broker__card {
    padding: 30px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.broker__image {
  max-width: 686px;
  margin-right: 60px;
}

.broker__image img {
  max-width: 100%;
}

@media (max-width: 992px) {
  .broker__image {
    margin-right: 0;
  }
}

.broker__person {
  margin-right: 20px;
}

@media (max-width: 600px) {
  .broker__person {
    margin-right: 0;
  }
}

.broker__description {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 60px;
}

@media (max-width: 992px) {
  .broker__description {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-bottom: 0;
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .broker__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 600px) {
  .broker__description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.broker__name {
  font-weight: 500;
  font-size: 36px;
  line-height: 70px;
  letter-spacing: -0.04em;
  margin-bottom: 12px;
}

@media (max-width: 992px) {
  .broker__name {
    line-height: normal;
  }
}

.broker__caption {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.04em;
  margin-bottom: 50px;
}

@media (max-width: 992px) {
  .broker__caption {
    margin-bottom: 20px;
  }
}

.infobar {
  background: #ffffff;
  border-radius: 12px;
  min-height: 140px;
  margin-left: -170px;
  margin-right: -50px;
  -webkit-box-shadow: 70px 20px 70px #f2f5fa;
          box-shadow: 70px 20px 70px #f2f5fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 46px;
}

@media (max-width: 1365px) {
  .infobar {
    margin-right: 0;
  }
}

@media (max-width: 992px) {
  .infobar {
    -webkit-box-shadow: 0px 0px 70px #f2f5fa;
            box-shadow: 0px 0px 70px #f2f5fa;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .infobar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 30px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.infobar__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.infobar__item:not(:last-child) {
  margin-right: 50px;
}

@media (max-width: 767px) {
  .infobar__item:not(:last-child) {
    margin-right: 0px;
  }
  .infobar__item:not(:first-child) {
    margin-bottom: 10px;
  }
}

.infobar__number {
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -0.06em;
  color: #2544c0;
  margin-right: 6px;
}

.infobar__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.06em;
  text-transform: uppercase;
  white-space: nowrap;
}

.footer {
  background: #2544c0;
}

.footer__body {
  min-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 600px) {
  .footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 0;
  }
}

.footer__copyright {
  font-weight: 200;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  color: #ffffff;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  opacity: 0.6;
}

@media (max-width: 600px) {
  .footer__copyright {
    text-align: center;
    margin-bottom: 10px;
  }
}

.footer__developer {
  font-weight: 200;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
}

@media (max-width: 600px) {
  .footer__developer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__developer-name {
  margin-right: 24px;
  opacity: 0.6;
}

.footer__developer-name a {
  font-weight: 200;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.footer__developer-name a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .footer__developer-name {
    margin: 0 0 10px 0;
  }
}

.footer__developer-image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 118px;
          flex: 0 0 118px;
}

.footer__developer-image img {
  max-width: 100%;
}

@media (max-width: 600px) {
  .footer__developer-image {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 118px;
  }
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 60;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  overflow-y: auto;
  overflow-x: hidden;
}

.popup.active {
  opacity: 1;
  visibility: visible;
}

.popup__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
}

.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 20px;
}

.popup__content {
  background-color: #fff;
  color: #0c193e;
  max-width: 800px;
  width: 100%;
  padding: 50px 30px;
  position: relative;
}

.popup__close {
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  width: 40px;
  background-color: red;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.popup__close:after, .popup__close:before {
  content: "";
  position: absolute;
  top: 18px;
  left: 5px;
  display: block;
  background-color: #fff;
  height: 4px;
  width: 30px;
  border-radius: 4px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.popup__close:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.popup__close:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.popup__close:hover:after {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.popup__close:hover:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.popup__form {
  text-align: center;
}

.popup__title {
  margin-bottom: 10px;
}

.popup__subtitle {
  font-weight: 300;
  font-size: 18px;
  letter-spacing: -0.04em;
  margin-bottom: 20px;
  line-height: 20px;
}

.popup__input-item {
  height: 50px;
  padding: 0 20px;
  width: 100%;
  border-radius: 3px;
  border: 1px solid #e9eef7;
  margin-bottom: 20px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.popup__input-item::-webkit-input-placeholder {
  font-weight: 300;
  font-size: 16px;
}

.popup__input-item:-ms-input-placeholder {
  font-weight: 300;
  font-size: 16px;
}

.popup__input-item::-ms-input-placeholder {
  font-weight: 300;
  font-size: 16px;
}

.popup__input-item::placeholder {
  font-weight: 300;
  font-size: 16px;
}

@media (max-width: 360px) {
  .popup__input-item::-webkit-input-placeholder {
    font-size: 14px;
  }
  .popup__input-item:-ms-input-placeholder {
    font-size: 14px;
  }
  .popup__input-item::-ms-input-placeholder {
    font-size: 14px;
  }
  .popup__input-item::placeholder {
    font-size: 14px;
  }
}

.popup__input-item:focus {
  -webkit-box-shadow: 0px 0px 5px #8ba9fd;
          box-shadow: 0px 0px 5px #8ba9fd;
}

.popup__input-item._error {
  -webkit-box-shadow: 0px 0px 5px red;
          box-shadow: 0px 0px 5px red;
}

.popup__time {
  resize: vertical;
  padding: 20px;
  min-height: 100px;
  margin-bottom: 15px;
}

.popup__alert {
  color: red;
  margin-bottom: 15px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.popup__alert.active {
  opacity: 1;
  visibility: visible;
}

.popup__button {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #ffffff;
  background: #2544c0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 300px;
  width: 100%;
  height: 60px;
  margin: 0 auto;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border: 1px solid #2544c0;
}

.popup__button:hover {
  background-color: #fff;
  color: #2544c0;
}
