* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 700;
}

html,
body {
  font-family: "Inter", sans-serif;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 60px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (max-width: 992px) {
  .header {
    padding: 10px 0;
  }
}

.container {
  max-width: 1720px;
  margin: 0 auto;
  padding: 0 20px;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 300px;
          flex: 0 0 300px;
  margin-right: auto;
}

.header__logo img {
  max-width: 100%;
}

@media (max-width: 992px) {
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 180px;
            flex: 0 0 180px;
  }
}

@media (max-width: 460px) {
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
  }
}

@media (max-width: 460px) {
  .desktop-logo {
    display: none;
  }
}

.mobile-logo {
  display: none;
}

@media (max-width: 460px) {
  .mobile-logo {
    display: block;
  }
}

.header__phone {
  margin-right: 60px;
}

.header__phone a {
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: -0.05em;
  color: #0c193e;
  position: relative;
}

.header__phone a img {
  display: none;
}

.header__phone a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0%;
  background-color: #0c193e;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__phone a:hover:after {
  content: "";
  width: 100%;
}

@media (max-width: 992px) {
  .header__phone {
    margin-right: 20px;
  }
  .header__phone a {
    font-size: 20px;
  }
}

@media (max-width: 600px) {
  .header__phone {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
  }
  .header__phone a span {
    display: none;
  }
  .header__phone a img {
    display: block;
    max-width: 100%;
  }
}

.header__callback {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 260px;
          flex: 0 0 260px;
  height: 50px;
}

@media (max-width: 992px) {
  .header__callback {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 160px;
            flex: 0 0 160px;
  }
}

.header__button {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #35312e;
  height: 100%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border: 1px solid #35312e;
  cursor: pointer;
}

.header__button:hover {
  background: #fff;
  color: #0c193e;
  border: 1px solid #0c193e;
}

@media (max-width: 992px) {
  .header__button {
    font-size: 14px;
  }
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background-color: #cfffc0;
}

.title {
  font-weight: 500;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -0.06em;
  color: #2544c0;
}

@media (max-width: 767px) {
  .title {
    font-size: 36px;
    line-height: 40px;
  }
}

@media (max-width: 360px) {
  .title {
    font-size: 26px;
    line-height: 30px;
  }
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  overflow-y: auto;
  overflow-x: hidden;
}

.popup.active {
  opacity: 1;
  visibility: visible;
}

.popup__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
}

.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 20px;
}

.popup__content {
  background-color: #fff;
  color: #0c193e;
  max-width: 800px;
  width: 100%;
  padding: 50px 30px;
  position: relative;
}

.popup__close {
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  width: 40px;
  background-color: red;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.popup__close:after, .popup__close:before {
  content: '';
  position: absolute;
  top: 18px;
  left: 5px;
  display: block;
  background-color: #fff;
  height: 4px;
  width: 30px;
  border-radius: 4px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.popup__close:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.popup__close:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.popup__close:hover:after {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.popup__close:hover:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.popup__form {
  text-align: center;
}

.popup__title {
  margin-bottom: 10px;
}

.popup__subtitle {
  font-weight: 300;
  font-size: 18px;
  letter-spacing: -0.04em;
  margin-bottom: 20px;
  line-height: 20px;
}

.popup__input-item {
  height: 50px;
  padding: 0 20px;
  width: 100%;
  border-radius: 3px;
  border: 1px solid #e9eef7;
  margin-bottom: 20px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.popup__input-item::-webkit-input-placeholder {
  font-weight: 300;
  font-size: 16px;
}

.popup__input-item:-ms-input-placeholder {
  font-weight: 300;
  font-size: 16px;
}

.popup__input-item::-ms-input-placeholder {
  font-weight: 300;
  font-size: 16px;
}

.popup__input-item::placeholder {
  font-weight: 300;
  font-size: 16px;
}

@media (max-width: 360px) {
  .popup__input-item::-webkit-input-placeholder {
    font-size: 14px;
  }
  .popup__input-item:-ms-input-placeholder {
    font-size: 14px;
  }
  .popup__input-item::-ms-input-placeholder {
    font-size: 14px;
  }
  .popup__input-item::placeholder {
    font-size: 14px;
  }
}

.popup__input-item:focus {
  -webkit-box-shadow: 0px 0px 5px #8ba9fd;
          box-shadow: 0px 0px 5px #8ba9fd;
}

.popup__input-item._error {
  -webkit-box-shadow: 0px 0px 5px red;
          box-shadow: 0px 0px 5px red;
}

.popup__time {
  resize: vertical;
  padding: 20px;
  min-height: 100px;
  margin-bottom: 30px;
}

.popup__alert {
  color: red;
  margin-bottom: 20px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.popup__alert.active {
  opacity: 1;
  visibility: visible;
}

.popup__button {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #ffffff;
  background: #2544C0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 300px;
  width: 100%;
  height: 60px;
  margin: 0 auto;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border: 1px solid #2544C0;
}

.popup__button:hover {
  background-color: #fff;
  color: #2544C0;
}
