@import "_nullstyle";

html,
body {
	font-family: "Inter", sans-serif;
	//scroll-behavior: smooth;
}
body {
	&.lock {
		overflow: hidden;
	}
}
.wrapper {
	overflow: hidden;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

//header

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding-top: 60px;
	transition: all 0.3s ease 0s;
	z-index: 50;
	@media (max-width: 992px) {
		padding: 10px 0;
	}
}
.container {
	max-width: 1720px;
	margin: 0 auto;
	padding: 0 20px;
}
.header__body {
	display: flex;
	align-items: center;
}
.header__logo {
	flex: 0 0 300px;
	margin-right: auto;
	img {
		max-width: 100%;
	}
	@media (max-width: 992px) {
		flex: 0 0 180px;
	}
	@media (max-width: 460px) {
		flex: 0 0 30px;
	}
}
.desktop-logo {
	@media (max-width: 460px) {
		display: none;
	}
}
.mobile-logo {
	display: none;
	@media (max-width: 460px) {
		display: block;
	}
}
.header__phone {
	margin-right: 60px;
	a {
		font-weight: 600;
		font-size: 26px;
		line-height: 31px;
		letter-spacing: -0.05em;
		color: #0c193e;
		position: relative;
		img {
			display: none;
		}
		&:after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			height: 2px;
			width: 0%;
			background-color: #0c193e;
			transition: all 0.3s ease 0s;
		}
		&:hover {
			&:after {
				content: "";
				width: 100%;
			}
		}
	}
	@media (max-width: 992px) {
		margin-right: 20px;
		a {
			font-size: 20px;
		}
	}
	@media (max-width: 600px) {
		flex: 0 0 30px;
		a {
			span {
				display: none;
			}
			img {
				display: block;
				max-width: 100%;
			}
		}
	}
}
.header__callback {
	flex: 0 0 260px;
	height: 50px;

	@media (max-width: 992px) {
		flex: 0 0 160px;
	}
}
.header__button {
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: -0.02em;
	color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #35312e;
	height: 100%;
	transition: all 0.3s ease 0s;
	border: 1px solid #35312e;
	cursor: pointer;
	&:hover {
		background: #fff;
		color: #0c193e;
		border: 1px solid #0c193e;
	}
	@media (max-width: 992px) {
		font-size: 14px;
	}
}

//main

.main {
	flex: 1 1 auto;
}
.mainscreen {
	padding: 200px 0 0 0;
	min-height: 960px;
	background: url("../img/mainscreen/dots.png") 0 0 no-repeat, #f2f5fa;
	position: relative;
	@media (max-width: 992px) {
		padding: 100px 0 0 0;
	}
}
.mainscreen__body {
	display: flex;
	justify-content: space-between;
	@media (max-width: 767px) {
		flex-direction: column;
	}
}
.mainscreen__info {
	flex: 1 1 auto;
	margin-right: 20px;
	@media (max-width: 992px) {
		flex: 0 1 50%;
	}
	@media (max-width:767px){
		flex: none;
		margin-right: 0;
	}
}
.mainscreen__title {
	color: #2544c0;
	line-height: 70px;
	margin-bottom: 42px;
	p {
		&:first-child {
			font-weight: 500;
			font-size: 48px;
			letter-spacing: -0.04em;
		}
		&:nth-child(2) {
			font-weight: 800;
			font-size: 56px;
			letter-spacing: -0.02em;
			text-transform: uppercase;
		}
		&:last-child {
			font-weight: 500;
			font-size: 48px;
			letter-spacing: -0.04em;
			color: #0c193e;
		}
	}
	@media (max-width: 992px) {
		p {
			&:first-child,
			&:nth-child(2),
			&:last-child {
				font-size: 40px;
				line-height: normal;
			}
		}
	}
	@media (max-width:767px) {
		margin-bottom: 30px;
		p {
			&:first-child,
			&:nth-child(2),
			&:last-child {
				font-size: 30px;
			}
		}
	}
}
.mainscreen__list {
	max-width: 540px;
	margin-bottom: 50px;
	margin-left: 50px;
	li {
		font-size: 20px;
		line-height: 24px;
		letter-spacing: -0.04em;
		color: #0c193e;
		position: relative;
		padding: 0 0 0 10px;
		margin: 0 0 30px 0px;
		&:before {
			content: "";
			width: 5px;
			height: 5px;
			border-radius: 50%;
			border: 1px solid #2544c0;
			display: inline-block;
			position: absolute;
			top: 10px;
			left: 0;
		}
	}
	@media (max-width:767px){
		margin-left: 20px;
		max-width: 100%;
		margin-bottom: 30px;
		li{
			margin: 0 0 15px 0px;
		}
	}
	@media (max-width:600px){
		margin-left: 0;
		li{
			font-size: 16px;
		}
	}
}
.mainscreen__scrolldown {
	font-weight: bold;
	font-size: 13px;
	line-height: 16px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #b2bdd2;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	margin-left: 50px;
	margin-bottom: 50px;
	height: 40px;
	img {
		max-width: 100%;
		margin-right: 10px;
		animation: scrolldown 1s ease infinite alternate;
	}
	@keyframes scrolldown {
		0% {
			transform: translate(0, -20px);
		}
		100% {
			transform: translate(0, 20px);
		}
	}
	@media (max-width:767px){
		margin: 0 0 50px 0;
		display: flex;
		justify-content: center;
	}
}
.mainscreen__consult {
	@media (max-width: 767px){
		min-height: 400px;
	}
}
.mainscreen__image {
	max-width: 600px;
	img {
		max-width: 100%;
	}
	@media (max-width: 767px){
		max-width: 450px;
	}
	@media (max-width:600px) {
		img{
			display: none;
		}
	}
}
.mainscreen__form {
	position: absolute;
	bottom: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 60%;
	@media (max-width: 1365px) {
		flex-direction: column;
		align-items: flex-start;
		right: 20px;
		width: 320px;
	}
	@media (max-width: 767px){
		width: 100%;
	}
	@media (max-width:600px) {
		max-width: 87%;
		right: 50%;
		transform: translate(50%,0);
	}
}
.mainscreen__item {
	flex: 0 1 33.333%;
	height: 140px;
	background-color: #fff;
	padding: 44px;
	@media (max-width: 1365px) {
		flex: none;
		width: 100%;
	}
}
.mainscreen__item-button {
	padding: 0;
}
.mainscreen__label {
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: -0.02em;
	color: #b2bdd2;
}
.mainscreen__input {
	font-size: 24px;
	width: 100%;
	&::placeholder {
		font-weight: 200;
		font-size: 24px;
		line-height: 29px;
		letter-spacing: -0.02em;
		color: #2544c0;
	}
}
.mainscreen__button {
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	letter-spacing: -0.02em;
	color: #ffffff;
	background: #2544c0;
	height: 100%;
	width: 100%;
}
.title {
	font-weight: 500;
	font-size: 48px;
	line-height: 60px;
	letter-spacing: -0.06em;
	color: #2544c0;
	@media (max-width: 767px) {
		font-size: 36px;
		line-height: 40px;
	}
	@media (max-width: 360px) {
		font-size: 26px;
		line-height: 30px;
	}
}

//footer

.footer {
	background: #2544c0;
}
.footer__body {
	min-height: 80px;
	display: flex;
	align-items: center;
	@media (max-width: 600px) {
		flex-direction: column;
		padding: 20px 0;
	}
}
.footer__copyright {
	font-weight: 200;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0.04em;
	color: #ffffff;
	flex: 1 1 auto;
	opacity: 0.6;
	@media (max-width: 600px) {
		text-align: center;
		margin-bottom: 10px;
	}
}
.footer__developer {
	font-weight: 200;
	font-size: 12px;
	display: flex;
	align-items: center;
	letter-spacing: 0.04em;
	color: #ffffff;
	@media (max-width: 600px) {
		flex-direction: column;
	}
}
.footer__developer-name {
	margin-right: 24px;
	opacity: 0.6;
	a {
		font-weight: 200;
		font-size: 12px;
		letter-spacing: 0.04em;
		color: #ffffff;
		&:hover {
			text-decoration: underline;
		}
	}
	@media (max-width: 600px) {
		margin: 0 0 10px 0;
	}
}
.footer__developer-image {
	flex: 0 0 118px;
	img {
		max-width: 100%;
	}
	@media (max-width: 600px) {
		flex: none;
		width: 118px;
	}
}

//popup

.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s ease 0s;
	overflow-y: auto;
	overflow-x: hidden;
	&.active {
		opacity: 1;
		visibility: visible;
	}
}
.popup__area {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	cursor: pointer;
}
.popup__body {
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 40px 20px;
}
.popup__content {
	background-color: #fff;
	color: #0c193e;
	max-width: 800px;
	width: 100%;
	padding: 50px 30px;
	position: relative;
}
.popup__close {
	position: absolute;
	top: 0;
	right: 0;
	height: 40px;
	width: 40px;
	background-color: red;
	transition: all 0.3s ease 0s;
	cursor: pointer;
	&:after,
	&:before {
		content: "";
		position: absolute;
		top: 18px;
		left: 5px;
		display: block;
		background-color: #fff;
		height: 4px;
		width: 30px;
		border-radius: 4px;
		transition: all 0.3s ease 0s;
	}
	&:after {
		transform: rotate(45deg);
	}
	&:before {
		transform: rotate(-45deg);
	}
	&:hover {
		&:after {
			transform: rotate(135deg);
		}
		&:before {
			transform: rotate(45deg);
		}
	}
}
.popup__form {
	text-align: center;
}
.popup__title {
	margin-bottom: 10px;
}
.popup__subtitle {
	font-weight: 300;
	font-size: 18px;
	letter-spacing: -0.04em;
	margin-bottom: 20px;
	line-height: 20px;
}
.popup__input-item {
	height: 50px;
	padding: 0 20px;
	width: 100%;
	border-radius: 3px;
	border: 1px solid #e9eef7;
	margin-bottom: 20px;
	transition: all 0.3s ease 0s;
	&::placeholder {
		font-weight: 300;
		font-size: 16px;
		@media (max-width: 360px) {
			font-size: 14px;
		}
	}
	&:focus {
		box-shadow: 0px 0px 5px#8ba9fd;
	}
	&._error {
		box-shadow: 0px 0px 5px red;
	}
}
.popup__time {
	resize: vertical;
	padding: 20px;
	min-height: 100px;
	margin-bottom: 15px;
}
.popup__alert {
	color: red;
	margin-bottom: 15px;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease 0s;
	&.active {
		opacity: 1;
		visibility: visible;
	}
}
.popup__button {
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: -0.02em;
	color: #ffffff;
	background: #2544c0;
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 300px;
	width: 100%;
	height: 60px;
	margin: 0 auto;
	transition: all 0.3s ease 0s;
	border: 1px solid #2544c0;
	&:hover {
		background-color: #fff;
		color: #2544c0;
	}
}
